body {
  background: #ffffff url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

section.header {
  background: linear-gradient(to right, #ffcc00, #ff6600);
  color: #000000;
}

.text-dark {
  color: #333;
}
